/* screen - password-change-animation */

.password-change-animation {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  width: 390px;
}

.password-change-animation .path-container {
  background-color: #fafafa;
  height: 844px;
  position: relative;
  width: 390px;
}

.password-change-animation .path-9649 {
  height: 5px;
  left: 132px;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 1px;
}

.password-change-animation .path-9650 {
  height: 1px;
  left: 131px;
  object-fit: cover;
  position: absolute;
  top: 116px;
  width: 5px;
}
