/* screen - reset-password */

.reset-password {
  background-color: #fafafa;
  height: 844px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.reset-password .back-button-C61RwL {
  --z-index: 0;
  background-color: transparent;
  cursor: pointer;
  height: 42px;
  left: 312px;
  opacity: 1;
  position: absolute;
  top: 77px;
  width: 42px;
}

.reset-password .rectangle-80-q8sTpf {
  --z-index: 0;
  background-color: #211e8a;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.reset-password .arrow-ios-down-q8sTpf {
  --z-index: 1;
  background-color: transparent;
  height: 7px;
  opacity: 1;
  position: absolute;
  right: calc(48.22% - 7px);
  top: calc(50.00% - 3px);
  transform: rotate(90deg);
  width: 14px;
}

.reset-password .group-1-LPcaqU {
  --z-index: 0;
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 100%;
}

.reset-password .icon-olor-H0zbvI {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/file---icon--olor@1x.png);
  background-size: 100% 100%;
  height: 200.01%;
  left: 25.00%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -50.01%;
  transform: rotate(-90deg);
  width: 49.99%;
}

.reset-password .mask-group-1-H0zbvI {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/mask-group-1-10@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% + 7px);
  left: 4px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -4px;
  transform: rotate(-90deg);
  width: calc(100.00% - 7px);
}

.reset-password .group-659-C61RwL {
  --z-index: 1;
  background-color: transparent;
  height: 153px;
  left: 36px;
  opacity: 1;
  position: absolute;
  top: 143px;
  width: 318px;
}

.reset-password .createnew-password-DGWP24 {
  --z-index: 0;
  background-color: transparent;
  color: #0e0e24;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 25.9px;
  font-style: normal;
  font-weight: 400;
  height: 65px;
  left: 0px;
  letter-spacing: -0.65px;
  line-height: 30px;
  opacity: 1;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 152px;
}

.reset-password .component-1-1-DGWP24 {
  --z-index: 1;
  background-color: transparent;
  bottom: 0px;
  height: 60px;
  left: 0px;
  opacity: 1;
  position: absolute;
  width: 100%;
}

.reset-password .password-bg-3Dap5o {
  --z-index: 0;
  background-color: #ffffff;
  border: 1.5px solid #0f0f0f33;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.reset-password .enter-current-password-3Dap5o {
  --z-index: 1;
  background-color: transparent;
  bottom: calc(44.19% - 8px);
  color: #0f0f0f;
  font-family: 'CircularStd-Book', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 17px;
  left: 40px;
  letter-spacing: -0.38px;
  line-height: 15px;
  opacity: 0.3;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 149px;
}

.reset-password .for-your-security-p-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #0f0f0f;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 36px;
  letter-spacing: -0.31px;
  line-height: 12.5px;
  opacity: 0.4;
  position: absolute;
  text-align: left;
  top: 315px;
  white-space: nowrap;
  width: auto;
}

.reset-password .password-must-be-min-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: #0f0f0f;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 12.5px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 36px;
  letter-spacing: -0.31px;
  line-height: 12.5px;
  opacity: 0.4;
  position: absolute;
  text-align: left;
  top: 514px;
  white-space: nowrap;
  width: auto;
}

.reset-password .component-1-2-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 60px;
  left: 36px;
  opacity: 1;
  position: absolute;
  top: 346px;
  width: 318px;
}

.reset-password .password-bg-PzYLCH {
  --z-index: 0;
  background-color: #ffffff;
  border: 1.5px solid #0f0f0f33;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.reset-password .enter-new-password-PzYLCH {
  --z-index: 1;
  background-color: transparent;
  bottom: calc(41.03% - 9px);
  color: #0f0f0f;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 21px;
  left: 40px;
  letter-spacing: -0.38px;
  line-height: 15px;
  opacity: 0.3;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 122px;
}

.reset-password .component-1-3-C61RwL {
  --z-index: 5;
  background-color: transparent;
  height: 60px;
  left: 36px;
  opacity: 1;
  position: absolute;
  top: 423px;
  width: 318px;
}

.reset-password .password-bg-zxTx7v {
  --z-index: 0;
  background-color: #ffffff;
  border: 1.5px solid #0f0f0f33;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.reset-password .confirm-new-password-zxTx7v {
  --z-index: 1;
  background-color: transparent;
  bottom: calc(41.03% - 9px);
  color: #0f0f0f;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  height: 21px;
  left: 40px;
  letter-spacing: -0.38px;
  line-height: 15px;
  opacity: 0.3;
  position: absolute;
  text-align: left;
  white-space: nowrap;
  width: 138px;
}

.reset-password .group-953-C61RwL {
  --z-index: 6;
  background-color: transparent;
  cursor: pointer;
  height: 50px;
  left: 36px;
  opacity: 1;
  position: absolute;
  top: 699px;
  width: 318px;
}

.reset-password .rectangle-77-5DZW1c {
  --z-index: 0;
  background-color: #211e8a;
  border-radius: 5px;
  box-shadow: 0px 0px 20px #420f8d33;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.reset-password .group-633-5DZW1c {
  --z-index: 1;
  background-color: transparent;
  height: 19px;
  opacity: 1;
  position: absolute;
  right: calc(50.00% - 53px);
  top: calc(50.00% - 10px);
  width: 106px;
}

.reset-password .update-password-xtxaZx {
  --z-index: 0;
  background-color: transparent;
  color: #ffffff;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: -0.38px;
  line-height: 15px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
/* screen - password-change-success-1 */

.password-change-success-1 {
  background-color: #ffffff;
  height: 844px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.password-change-success-1 .rectangle-78-C61RwL {
  --z-index: 0;
  background-color: #fafafa;
  height: 844px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 390px;
}

.password-change-success-1 .icon-feather-plus-C61RwL {
  --z-index: 1;
  background-color: transparent;
  height: 4px;
  left: 131px;
  opacity: 1;
  position: absolute;
  top: 115px;
  width: 4px;
}

.password-change-success-1 .path-9649-RHwCW2 {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/path-9649-10@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% + 1px);
  left: 50.00%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 1px;
}

.password-change-success-1 .path-9650-RHwCW2 {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/path-9650-10@1x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 50.00%;
  width: calc(100.00% + 1px);
}

.password-change-success-1 .password-has-beensuccessfully-updated-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #482e36;
  font-family: 'Source Sans Pro', Helvetica;
  font-size: 25.9px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 87px;
  letter-spacing: -0.65px;
  line-height: 30px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 428px;
  white-space: nowrap;
  width: auto;
}

.password-change-success-1 .group-981-C61RwL {
  --z-index: 3;
  background-color: transparent;
  background-image: url(../img/group-981@1x.png);
  background-size: 100% 100%;
  height: 160px;
  left: 100px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 241px;
  width: 196px;
}

.password-change-success-1 .back-button-C61RwL {
  --z-index: 4;
  background-color: transparent;
  cursor: pointer;
  height: 42px;
  left: 312px;
  opacity: 1;
  position: absolute;
  top: 77px;
  width: 42px;
}

.password-change-success-1 .rectangle-80-q8sTpf {
  --z-index: 0;
  background-color: #211e8a;
  border-radius: 5px;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 100%;
}

.password-change-success-1 .arrow-ios-down-q8sTpf {
  --z-index: 1;
  background-color: transparent;
  height: 7px;
  opacity: 1;
  position: absolute;
  right: calc(48.22% - 7px);
  top: calc(50.00% - 3px);
  transform: rotate(90deg);
  width: 14px;
}

.password-change-success-1 .group-1-LPcaqU {
  --z-index: 0;
  background-color: transparent;
  height: 100%;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 100%;
}

.password-change-success-1 .icon-olor-H0zbvI {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/file---icon--olor@1x.png);
  background-size: 100% 100%;
  height: 200.01%;
  left: 25.00%;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -50.01%;
  transform: rotate(-90deg);
  width: 49.99%;
}

.password-change-success-1 .mask-group-1-H0zbvI {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/mask-group-1-10@1x.png);
  background-size: 100% 100%;
  height: calc(100.00% + 7px);
  left: 4px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: -4px;
  transform: rotate(-90deg);
  width: calc(100.00% - 7px);
}
